.zoom {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.07); 
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
}
img:hover{

    transform: scale(1.07);
}